.container {
  width: 1600px;
  height: 80px;
  margin: 0 auto;
}
header {
  color: #757575;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  background: #fff;
  border-bottom: #eee;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
}
.sigla-navigations {
  display: flex;
  justify-content: space-between;
  
}
.meniu-navigare {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px 0 200px;
}
body {
  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
.navigations {
  width: 300px;
  
}
.date-contact {
  width: 500px;
  display: flex;


  justify-content: space-around;}

.navigations a{
  color: #757575;}

  .date-contact a{
  color: #757575;

}
.date-contact a:visited{
  color: #2196f3;
  text-decoration: none;
}

 .date-contact a:link, .navigations a:link{
color:#757575;
text-decoration: none;
}
.mail, .tel{
  margin-left: 10px;
}
 .mail::before{
  content: url(../images/mail1.svg);
 }
 .mail:hover::before{
  content: url(../images/mail.svg);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.tel::before{
  content: url(../images/telephone.svg);
}
 .tel:hover::before{
  content: url(../images/telephone1.svg);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }

.navigations a:hover, .navigations a:focus, .date-contact a:hover, .date-contact a:focus{
  color: #2196f3;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.title-page {
  color: #fff;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin: 0;
}
.buton {
  color: #fff;
  background: #2196f3;
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
  font-style: normal;

  line-height: 30px;
  letter-spacing: 0.96px;
  background: #2196f3;
}
.details-list {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 94px;
  

}
.title-work {
  color: #212121;
  font-size: 14px;

  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.details-work {
  color: #757575;
  font-size: 14px;

  line-height: 24px;
  letter-spacing: 0.42px;
}
.intermediar-title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 94px;
}
.intermediar-images > img {
  margin: 15px;
}
.title-intermediar {
  color: #212121;
  margin-bottom: 50px;
  font-size: 36px;

  line-height: normal;
  letter-spacing: 1.08px;
}
.name-team {
  color: #212121;
  font-size: 16px;

  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.speciality {
  color: #757575;
  font-size: 16px;

  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
footer {
  background: #2f303a;
  color: #fff;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
}
.title-zone {
  background: #2f303a;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-zone {
  background: #f5f4fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.cards-team{
  display: flex;
 
}
.details-cards-team{
  margin:15px;
  flex-direction: column;
display: flex;
align-items: center;
background-color: #fff;
border-radius: 0px 0px 4px 4px; 
border: #000;
border-style: solid;
}
.sigla-blue-color {
  color: #2196f3;
  font-size: 26px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.sigla-white-color {
  color: #fff;
  font-size: 26px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.sigla-black-color {
  color: #000;
  font-size: 26px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.name-product {
  color: #212121;
  font-size: 18px;

  line-height: 36px;
  letter-spacing: 1.08px;
}
.category-product {
  color: #757575;
  font-size: 16px;

  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}
ul {
  list-style-type: none;
}
button {
  background-color: #f5f4fa;
}
button:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
}


.sigla-footer{
  margin-top: 60px;
  margin-bottom: 30px;
}
.adress-footer{
  margin-bottom: 60px;
}
.portofolio-body{
  margin-top: 94px;
  margin-bottom: 94px;

 
}
.card-portofolio ul{
  display: flex;
  
  flex-wrap: wrap;
  justify-content: center;
}
.buttons-portofolio{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.first-button, .second-button, .three-button,
.four-button, .five-button{
  margin: 15px;
}
.cards-item-portofolio{
  margin:15px;
}
.card-item-portofolio-description{
  border-color: #eee;
  border-style: solid;
  padding: 15px;
  border-top: none;
}
.detail-list-item{
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
 width:270px;

margin: 15px;

}
.detail-list-item svg{
  width: 70px;
  height: 70px;

}
.icon-item svg{
  border-radius: 4px;
background: #F5F4FA; 

}
.icon-item{
  width: 270px;
height: 120px;
background: #F5F4FA;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin:15px;
}

.icon-social-group{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  
}



  
  
.icon-social-group .icon{
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:44px ;
  

}
.icon{
display: flex;
justify-content: center;

}
.icon-social-group .icon a{
  color:#AFB1B8;}

  .icon-social-group svg {
  width: 44px;
  height: 44px;
  color:#AFB1B8;
  display: flex;
  justify-content: center;
  align-items: center;}

.icon-social-group .icon svg{
  width: 22px;
  height: 22px;
  color:#AFB1B8;
}
.icon-social-group .icon:hover, .icon-social-group .icon:focus{
  background-color: #2196f3;
  border-radius: 44px;
  color: #fff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.icon-social-group .icon a:link, .icon-social-group .icon a:visited{
  color:#AFB1B8;
}
.icon-social-group .icon svg:hover, .icon-social-group .icon svg:focus{
color:#fff;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.customers-zone{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 94px;
  margin-bottom: 94px;
  color:#AFB1B8;
}

.customers-icon-list{
display: flex;
  justify-content: center;
  align-items: center;
  color:#AFB1B8;
  
}
.customers-icon-list a:visited, .customers-icon-list a:link{
color:#AFB1B8;
}
.customers-icon-list .icon-customers{
border-radius: 4px;
border: 1px solid #AFB1B8;
margin:15px;
display: flex;
justify-content: center;
align-items: center;
width:170px;
  height: 92px;
}

.icon-customers{
display: flex;
justify-content: center;
align-items: center;

}
.customers-icon-list .icon-customers svg{
  width:106px;
  height: 60px;
  color:#AFB1B8
}

.customers-icon-list .icon-customers svg:hover, .customers-icon-list .icon-customers svg:focus{
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress{
  display: flex;
  padding-left: 200px;
}
.footer-left-part{
  margin-right: 47px;
}
.footer-right-part .title-work{
  color: #fff;
}
.footer-right-part{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 47px;
}
.icon-footer-group{
  display: flex;
  color: #fff;
  width: 206px;
height: 80px; 
}
.icon-footer{
  width: 44px;
  height: 44px;
  margin:5px;
  background-color:  rgba(255, 255, 255, 0.10);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
}
.icon-footer svg{
  width: 20px;
  height: 20px;
 
}
.icon-footer-group .icon-footer a:visited, .icon-footer-group .icon-footer a:link{
color:#fff;
}

.footer-right-part .icon-footer:hover, .footer-right-part .icon-footer:focus{
  color: #fff;
  background-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-zone{
  background: linear-gradient( rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../images/backgroundimage.png);
  
 }
 .cards-item-portofolio:hover{
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #EEE;
background: #FFF;
box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
 }

 .button-shadow:hover, .button-shadow:focus{
border-radius: 4px;
background: #2196F3;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

/* shadow-middle */
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);  
 }

 .details-cards-team{
  border-radius: 0px 0px 4px 4px;
background: #FFF;
border-style: none;

/* material shadow v1 */
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
 }

 a:hover , a:focus{
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.intermediar-images{
  display: flex;
  justify-content: center;
  align-items: center;
}
.intermediar-images-1, .intermediar-images-2, .intermediar-images-3 {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:15px;
 
}
.intermediar-image-text-over{
  position:absolute;
  bottom:0;
  color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
background: rgba(47, 48, 58, 0.80);
width: 100%;
height: 70px;
display: flex;
justify-content: center;
  align-items: center;
}
#studio-blue{
  color:#2196F3;
}
#portofolio-blue{
  color:#2196F3;
}

#contacts-blue{
  color:#2196F3;
}

.line-studio::after{
content:"Studio";
  color: #fff;
  width:100%;
  border-radius: 2px;
border-bottom:3px solid #2196F3;
}

.line-portofolio::after{
content:"Portofolio";
  color: #fff;
  width:100%;
  border-radius: 2px;
border-bottom:3px solid #2196F3;
}

.line-contacts::after{
content:"Contacts";
  color: #fff;
  width:100%;
  border-radius: 2px;
border-bottom:3px solid #2196F3;
}

/*.sigla-navigations .navigations a:focus, .sigla-navigations .navigations a:hover{
  position:relative;*/
/*
  .test1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

.link-for-line{
  position: relative;
  
}
  .link-for-line:hover{
  position: relative;
}
.horizontal-line:{
  position: absolute;
  bottom: 0;
  color: #2196F3;
  width:100%;
  border-radius: 2px;
background: #2196F3;
}
.horizontal-line:hover{
  bottom: 0;
  position: absolute;
  color: #2196F3;
  width:100%;
  border-radius: 2px;
background: #2196F3;
} */

/*Modal*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: auto;
  opacity: 0.8;
}

.modal-content {
  padding: 16px;
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
  height: 500px;
  position: relative;
}

.is-hidden {
  visibility: hidden;
  transform: scale(1.1);
}

.close-btn {
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.10);
  color: black;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus,
.close-btn:hover {
  background-color: #fff;
}
ul{
  margin-bottom: 0;
}


.top{
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  opacity: 0;
  color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px; 
padding: 50px, 24px;
}
.top{
  background: linear-gradient(#AFB1B8, #AFB1B8, #2196F3 50%, #2196F3);
  background-size: 100% 200%;
  height: 5%;
  /*trasition effect for background*/
  transition: height 2s, transform 2s ;
bottom:0;
}

.top:hover{
  background-position: 100% 100%;
  opacity: 0.9;
  padding: 30px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height:100%;

  
}
.effect{
  position:relative;
}
.overlay-img1{
  position:absolute;
  bottom:0;
}